* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Stile della scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9f9f9f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #616060;
}

/*---------------------------------------*/

.main-container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #272727;
}

.main-container .col-1 {
    min-width: 50px;
    width: 50px;
    background-color: #202020;
    border-right: 1px solid #1c1c1c;
}

/*------------------------------*/

.main-container .col-2 {
    min-width: 250px;
    width: 25%;
    border-right: 1px solid #1c1c1c;
}

.main-container .col-2 .chat-options {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;

}

.main-container .col-2 .chat-options .options {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-container .col-2 .chat-options .options .option-icons i {
    padding-left: 50px;
}

.main-container .col-2 .chat-options .search-chat-input {
    width: 100%;
    padding: 0 20px;
    align-self: center;
    position: relative;
}

.main-container .col-2 .chat-options .search-chat-input input {
    width: 100%;
    padding: 8px 0;
    padding-left: 8px;
    padding-right: 33px;
    background-color: #343434;
    border: none;
    border-bottom: 3px solid #7a7a7a;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

#search-icon {
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translateY(-40%) scaleX(-1);
}

#search-icon i {
    font-size: .8em;
    opacity: .4;
}

.main-container .col-2 .chat-list {
    height: calc(100% - 120px);
    margin: 20px 3px;
    margin-bottom: 50px;
    overflow: auto;
}

.main-container .col-2 .chat-list .single-chat {
    margin-bottom: 10px;
    padding: 0 20px;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.main-container .col-2 .chat-list .single-chat .profile-img {
    height: 70%;
}

.main-container .col-2 .chat-list .single-chat .profile-img img {
    height: 100%;
    border-radius: 50%;
}

.main-container .col-2 .chat-list .single-chat .profile-info {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-container .col-2 .chat-list .single-chat .profile-info p {
    margin-top: 5px;
    font-size: .8em;
    opacity: .4;
}

.main-container .col-2 .chat-list .single-chat .time {
    font-size: .8em;
    opacity: .4;
}

/*------------------------------*/

.main-container .col-3 {
    min-width: 300px;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.main-container .col-3 .active-chat-header {
    width: 100%;
    height: 65px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1c1c1c;
}

.main-container .col-3 .active-chat-header .left-header {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-container .col-3 .active-chat-header .left-header .active-profile-img {
    height: 100%;
}

.main-container .col-3 .active-chat-header .left-header .active-profile-img img {
    height: 100%;
    border-radius: 50%;
}

.main-container .col-3 .active-chat-header .right-header {
    padding: 0 20px;
    display: flex;
    gap: 50px;
}

.line {
    display: flex;
}

.line hr {
    border: none;
    border: 1px solid #616060;
}

.main-container .col-3 .active-chat-header .right-header .fa-magnifying-glass {
    transform: scaleX(-1);
}

.main-container .col-3 .active-chat {
    width: 100%;
    min-height: 200px;
    height: calc(100% - 115px);
    background-image: url(../img/wa-bg.png);
}

.main-container .col-3 .active-chat .chat-container-centered {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.main-container .col-3 .active-chat .chat-container-centered .my-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
}

.main-container .col-3 .active-chat .chat-container-centered .his-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.time-send {
    display: flex;
    gap: 5px;
    align-self: self-end;
    font-size: .8em;
    opacity: .4;
}

.message-container {
    max-width: 550px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px;
    font-size: .8em;
    position: relative;
}

.green {
    background-color: #025c4c;
}

.grey {
    background-color: #373737;
}

.main-container .col-3 .text-input {
    min-height: 50px;
    max-height: 100px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #1c1c1c;
}

.main-container .col-3 .text-input .emote-clip {
    display: flex;
    gap: 30px;
}

.main-container .col-3 .text-input .text-message {
    width: 100%;
}

.main-container .col-3 .text-input .text-message input {
    width: 100%;
    border: none;
    background-color: #1c1c1c00;
    color: white;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------------------------*/