* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Stile della scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9f9f9f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #616060;
}

.hover-icon i {
    padding: 10px 15px;
}

.hover-icon:hover {
    background-color: #353535;
    border-radius: 5px;
}
/*---------------------------------------*/

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #272727;
    overflow: hidden;
}

.main-container .col-1 {
    padding: 15px 0;
    min-width: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    border-right: 1px solid #1c1c1c;
}

.main-container .col-1 .chat-status {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-container .col-1 .profile-setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main-container .col-1 .profile-setting .my-profile {
    width: 50%;
}

.main-container .col-1 .profile-setting .my-profile img {
    width: 100%;
    border-radius: 50%;
}

.main-container .col-1 .profile-setting .my-profile img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/*------------------------------*/

.main-container .col-2 {
    min-width: 250px;
    width: 25%;
    border-right: 1px solid #1c1c1c;
}

.main-container .col-2 .chat-options {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;

}

.main-container .col-2 .chat-options .options {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.main-container .col-2 .chat-options .options h2 {
    flex-grow: 1;
}

.main-container .col-2 .chat-options .search-chat-input {
    width: 100%;
    padding: 0 20px;
    align-self: center;
    position: relative;
}

#selected-search-input {
    border:1px solid #343434;
    border-bottom: 2px solid #00a884;
    background-color: #212121;
}

.main-container .col-2 .chat-options .search-chat-input input {
    width: 100%;
    padding: 8px 0;
    padding-left: 8px;
    padding-right: 33px;
    background-color: #343434;
    border: none;
    border-bottom: 2px solid #7a7a7a;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

#search-icon {
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translateY(-40%) scaleX(-1);
}

#search-icon i {
    font-size: .8em;
    opacity: .4;
}

.main-container .col-2 .chat-list {
    height: calc(100% - 120px);
    padding: 0 10px;
    margin: 20px 3px;
    margin-bottom: 50px;
    overflow: auto;
}

.main-container .col-2 .chat-list .single-chat {
    margin-bottom: 10px;
    padding: 5px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.single-chat-selected {
    background-color: #404040;
    border-radius: 5px;
}

.main-container .col-2 .chat-list .single-chat:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main-container .col-2 .chat-list .single-chat .profile-img {
   width: 50px;
   display: flex;
   align-items: center;
}

.main-container .col-2 .chat-list .single-chat .profile-img img {
    width: 50px;
    border-radius: 50%;
}

.main-container .col-2 .chat-list .single-chat .profile-info {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-container .col-2 .chat-list .single-chat .profile-info p {
    margin-top: 5px;
    font-size: .8em;
    color: #737373;
}

.main-container .col-2 .chat-list .single-chat .time {
    font-size: .8em;
    opacity: .4;
}

#is-typing {
    color: #01a481;
}

/*------------------------------*/

.main-container .col-3 {
    min-width: 300px;
    width: 75%;
    display: flex;
    flex-direction: column;
}

#welcome-message {
    min-width: 300px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

#welcome-message i {
    color: #444444;
    font-size: 6em;
}

#welcome-message p {
    font-size: .8em;
}

.main-container .col-3 .active-chat-header {
    width: 100%;
    height: 65px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1c1c1c;
}

.main-container .col-3 .active-chat-header .left-header {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-container .col-3 .active-chat-header .left-header .active-profile-img {
    height: 100%;
}

.main-container .col-3 .active-chat-header .left-header .active-profile-img img {
    height: 100%;
    border-radius: 50%;
}

.main-container .col-3 .active-chat-header .left-header .active-name .last-access {
    font-size: .8em;
}

.main-container .col-3 .active-chat-header .right-header {
    padding: 0 20px;
    display: flex;
    gap: 50px;
}

.line {
    display: flex;
}

.line hr {
    border: none;
    border: 1px solid #616060;
}

.main-container .col-3 .active-chat-header .right-header .fa-magnifying-glass {
    transform: scaleX(-1);
}

.main-container .col-3 .active-chat {
    width: 100%;
    height: calc(100% - 115px);
    background-image: url(../img/wa-bg.png);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.main-container .col-3 .active-chat .chat-container-centered {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}

#menu {
    width: 200px;
    height: 200px;
    background-color: #2e2e2e;
}

.main-container .col-3 .active-chat .chat-container-centered .message-container {
    max-width: 65%;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: .8em;
    position: relative;
}

.sent {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 3px;
    background-color: #025c4c;
}

.sent:before {
    content: ""; 
    position: absolute; 
    transform: rotate(180deg);
    top: 0;
    right: -8px;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid #025c4c; 
}

.received {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 3px;
    background-color: #373737;
}

.received:before {
    content: ""; 
    position: absolute; 
    transform: rotate(45deg);
    top: -1px;
    left: -8px;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid #373737; 
}

.time-send {
    display: flex;
    gap: 5px;
    align-self: self-end;
    font-size: .8em;
    opacity: .4;
}

.main-container .col-3 .text-input {
    min-height: 50px;
    max-height: 100px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #1c1c1c;
}

.main-container .col-3 .text-input .emote-clip {
    display: flex;
    gap: 30px;
}

.main-container .col-3 .text-input .text-message {
    width: 100%;
}

.main-container .col-3 .text-input .text-message input {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #1c1c1c00;
    color: white;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------------------------*/