<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">

        <div class="main-container">

            <div class="col-1">

                <div class="chat-status">
                    <div class="hover-icon"><i class="fa-regular fa-comment"></i></div>
                    <div class="hover-icon"><i class="fa-solid fa-circle-notch"></i></div>
                </div>
                <div class="profile-setting">
                    <div class="hover-icon"><i class="fa-solid fa-gear"></i></div>
                    <div class="my-profile">
                        <img src="img/avatar_io.jpg" alt="">
                    </div>
                </div>

            </div>

            <div class="col-2">

                <div class="chat-options">

                    <div class="options">
                        <h2>Chat</h2>

                        <div class="hover-icon"><i class="fa-solid fa-pen-to-square"></i></div>
                        <div class="hover-icon"><i class="fa-solid fa-ellipsis"></i></div>

                    </div>

                    <div class="search-chat-input">
                        <input @click="addSelectedClass()" @keyup="contactSearchList()" v-model="contactSearch"
                            :id="selectedSearchInput === true ? 'selected-search-input' : '' " type="text"
                            placeholder="Cerca o inizia una nuova chat">
                        <div id="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>

                </div>

                <div class="chat-list">

                    <div v-for="(contact, index) in contacts" @click="changeContactIndex(index)"
                        v-show="contact.visible" :class="{ 'single-chat-selected': index === selectedContactIndex }"
                        class="single-chat">
                        <div class="profile-img">
                            <img :src="contact.avatar" alt="">
                        </div>
                        <div class="profile-info">
                            <h4>{{ contact.name }}</h4>
                            <p :style="{display: chatContactIndex === index && isTyping ? 'none' : 'block'}"><i
                                    :style="contact.messages[contact.messages.length - 1].status === 'sent' ? {display: 'inlineBlock'} : {display: 'none'}"
                                    class="fa-solid fa-check-double"></i> {{
                                contact.messages[contact.messages.length - 1].message }}</p>
                            <p :style="{display: chatContactIndex === index && isTyping ? 'block' : 'none'}"
                                id="is-typing">Sta scrivendo...</p>
                        </div>
                        <div class="time">
                            <p>{{ contact.messages[contact.messages.length - 1].time }}</p>
                        </div>
                    </div>

                </div>

            </div>

            <div :style="selectedContactIndex === null ? {display: 'flex'} : {display: 'none'}" id="welcome-message">
                <i class="fa-brands fa-whatsapp"></i>
                <h3>Boolzapp per Windows</h3>
                <p>Invia e ricevi messaggi senza mantenere il telefono connesso a Internet. <br>
                    Usa Boolzapp su un massimo di 4 dispositivi e 1 telefono contemporaneamente.</p>
            </div>

            <div :style="selectedContactIndex === null ? {display: 'none'} : {display: 'flex'}" class="col-3">

                <div class="active-chat-header">

                    <div class="left-header">

                        <div class="active-profile-img">
                            <img :src="contacts[chatContactIndex].avatar" alt="">
                        </div>
                        <div class="active-name">
                            <h4>{{ contacts[chatContactIndex].name }}</h4>
                            <div class="last-access">
                                <p :style="isTyping ? {display: 'none'} : {display: 'block'}">Online</p>
                                <p :style="isTyping ? {display: 'block'} : {display: 'none'}">Sta scrivendo...</p>
                            </div>
                        </div>


                    </div>

                    <div class="right-header">
                        <div class="hover-icon"><i class="fa-solid fa-video"></i></div>
                        <div class="hover-icon"><i class="fa-solid fa-phone"></i></div>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="hover-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                    </div>

                </div>

                <div class="active-chat">

                    <div class="chat-container-centered">

                        <div v-for="messageSent in contacts[chatContactIndex].messages" class="message-container"
                            :class="messageSent.status === 'sent' ? 'sent' : 'received' ">
                            <p>{{ messageSent.message }}</p>
                            <div class="time-send">
                                <p>{{ messageSent.time }}</p>
                                <i :style="messageSent.status === 'received' ? {display: 'none'} : {display: 'block'}"
                                    class="fa-solid fa-check-double"></i>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="text-input">
                    <div class="emote-clip">
                        <div class="hover-icon"><i class="fa-regular fa-face-smile"></i></div>
                        <div class="hover-icon"><i class="fa-solid fa-paperclip"></i></div>
                    </div>
                    <div class="text-message">
                        <input v-model="newMessage" @keyup.enter="addMessage(chatContactIndex)" type="text"
                            placeholder="Scrivi un messaggio">
                    </div>
                    <div class="rec-voice">
                        <div class="hover-icon">
                            <i :style="newMessage !== '' ? {display: 'none'} : {display: 'block'}"
                                class="fa-solid fa-microphone"></i>
                            <i @click="addMessage(chatContactIndex)"
                                :style="newMessage !== '' ? {display: 'block'} : {display: 'none'}"
                                class="fa-regular fa-paper-plane"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="js/script.js"></script>
</body>

</html>